section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    width: 100%;
    box-shadow: 0 0 5px #222222;

    a {
        text-decoration: none;
    }

    div {

        img {
            width: 100%;
        }
    }

    div:nth-child(2) {

        padding: 0 10px 15px 10px;

        h1 {
            font-size: 28px;
            text-align: left;
            margin: 10px 0;
        }

        p {
            font-size: 18px;
        }
    }
}