div {
    h1 {
        font-size: 200px;
        margin: 10px 0;
        text-align: center;
        color: #cccccc;
    }

    hr {
        border: 1px solid #ffffff22;
        margin: 0 0 20px 0;
    }
}