<app-menu-bar></app-menu-bar>
<app-title></app-title>
<div>
    <article>
        <app-big-card photo="assets/blog/blog-image-robo.jpg" title="Inteligência artificial. Benéfica ou perigosa ?"
            description="A inteligência artificial é um campo da ciência da computação que se dedica ao estudo e ao desenvolvimento de máquinas e programas computacionais capazes de reproduzir o comportamento humano na tomada de decisões e na realização de tarefas, desde as mais simples até as mais complexas...">
        </app-big-card>
    </article>
    <article>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </article>
</div>